<!--
"""
Author: chzhang@tripadvisor.com
Date: 2019-05-08
Version: 20190508
"""
-->

{% extends 'base.html' %}
{% block title %}Exec SQL File{% endblock %}
{% block content %}
<div class="container" style="max-height:5000px">
    <h5>Execute SQL File</h5>
    <form accept-charset="utf-8" enctype="multipart/form-data" action="" method="POST">
        {% csrf_token %}
        {{ forms }}
        <br/>
        <input type="submit" value = "Upload & Run" data-toggle="modal" data-target="#myModal" onclick="return submitcfm();"/>
     </form>
</div>

{% if result %}
<div class="container">
    <div class="row pre-scrollable" style="max-height:1200px;overflow:auto;border:1px solid black;">
        <p>DB Host: <strong>{{ hostname }}</strong></p>
        <p>
        <table class="table table-bordered">
            {% for res in result %}
            <tr>
                <td style="text-align:right;">{{ res }} </td>
            </tr>
            {% endfor %}
            </table>
    </div>
</div>
{% endif %}

{% if filename and sql %}
<div class="container">
    <div class="row pre-scrollable" style="max-height:1200px;overflow:auto;border:1px solid black;">
        <p>Upload SQL File: <strong>{{ filename }}</strong></p>
        <p>
        <table class="table table-bordered">
            {% for s in sql %}
            <tr>
                <td style="text-align:right;">{{ s }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}

{% if error %}
<div class="container">
    <div class="row clearfix" style="height:60px">
        <div class="alert alert-warning">
            <a class="close" data-dismiss="alert">×</a>
            <strong>ERROR!</strong>
            <pre>{% for err in error %}{{ err }}{% endfor %}</pre>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block javascript %}

{% endblock %}