<!--
"""
Author: chzhang@tripadvisor.com
Date: 2019-04-18
Version: 20190318
"""
-->

{% extends 'base.html' %}
{% block title %}DB Query{% endblock %}
{% block content %}
<div class="container" style="max-height:500px">
    <h5>SQL Query.</h5>
    <form action="" method = "POST">
        {% csrf_token %}
        <div class="row clearfix" sytle="height:2000px">
            <div class="col-md-12" style="max-height:80px">
                {{ forms.dbname.label_tag }}
                {{ forms.dbname}}
            </div>
            <div class="col-md-12" style="max-height:500px">
                {{ forms.sql }}
            </div>
            <input type="submit" value = "Submit" data-toggle="modal" data-target="#myModal" onclick="return submitcfm();" />
        </div>
    </form>
</div>

{% if success_env %}
<div class="container">
    <div class="row pre-scrollable" style="max-height:1000px;overflow:auto;border:1px solid black;">
        <p><strong>If you add new table to commerce. </strong></p>
        <p><strong>Don't forget to add the table name to pgsync conf white list...  </strong></p>
        {% for success in success_env %}
            <p><strong>Success: {{ success }}</strong></p>
        {% endfor %}
    </div>
</div>
{% endif %}
{% if failed_env %}
<div class="container">
    <div class="row clearfix" style="max-height:1000px">
        <div class="alert alert-warning">
            <a class="close" data-dismiss="alert">×</a>
            <strong>ERROR!</strong>
            {% for failed in failed_env %}
                <p> ERROR in {{ failed.0 }}. </p></br>
                <p> {{ failed.1 }} </p></br>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if error %}
<div class="container">
    <div class="row clearfix" style="max-height:1000px">
        <div class="alert alert-warning">
            <a class="close" data-dismiss="alert">×</a>
            <strong>ERROR!</strong>
            {% for err in error %}
                <pre> {{ err }} </pre></br>
            {% endfor %}
        </div>
    </div>
</div>
{% endif%}
{% endblock %}