<!--
"""
Author: chzhang@tripadvisor.com
Date: 2019-04-17
Version: 20190417
"""
-->

{% extends 'base.html' %}
{% block title %}DBW Schema Change{% endblock %}
{% block content %}
<div class="container" style="max-height:5000px">
    <h5>DBW Schema Change.</h5>
    <form action="" method = "POST">
        {% csrf_token %}
        <div class="row clearfix" sytle="max-height:2000px">
            <div class="col-md-12" style="max-height:50px">
                <label class="col-md-3 control-label">{{ forms.env.label }}</label>
                <div class="select">
                    {{ forms.env }}
                </div>
            </div>
            <div class="col-md-12" style="max-height:80px">
                {{ forms.dbname.label_tag }}
                {{ forms.dbname}}
            </div>
            <div class="col-md-12" style="max-height:500px">
                {{ forms.sql }}
            </div>
            <input type="submit" value = "Submit" data-toggle="modal" data-target="#myModal" onclick="return submitcfm();" />
        </div>
    </form>
</div>

{% if success_env %}
<div class="container">
    <div class="row pre-scrollable" style="max-height:1000px;overflow:auto;border:1px solid black;">
        {% for success in success_env %}
            <p><strong>Success: {{ success }}</strong></p>
        {% endfor %}
    </div>
</div>
{% endif %}
{% if failed_env %}
<div class="container">
    <div class="row clearfix" style="max-height:1000px">
        <div class="alert alert-warning">
            <a class="close" data-dismiss="alert">×</a>
            <strong>ERROR!</strong>
            {% for failed in failed_env %}
                <p> ERROR in {{ failed.0 }}. </p></br>
                <p> {{ failed.1 }} </p></br>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if error %}
<div class="container">
    <div class="row clearfix" style="max-height:1000px">
        <div class="alert alert-warning">
            <a class="close" data-dismiss="alert">×</a>
            <strong>ERROR!</strong>
            {% for err in error %}
                <pre> {{ err }} </pre></br>
            {% endfor %}
        </div>
    </div>
</div>
{% endif%}
{% endblock %}