<!--
"""
Author: chzhang@tripadvisor.com
Date: 2019-03-13
Version: 20190321
"""
-->
{% extends 'base.html' %}
{% block title %} Table-Columns List {% endblock %}
{% block content %}
<div class="container" >
    <div class="row clearfix" style="height:60px">
        <div class="col-md-6 column">
            <h3>Table-Columns</h3>
        </div>
    </div>
    <div class="row clearfix" style="height:80px">
            <h5>Server Name: {{ servername }}</h5>
            <h5>DB Name:     {{ dbname }}</h5>
            <h5>Table Name:  {{ tablename }}</h5>
    </div>
    <div class="row pre-scrollable" style="max-height:680px;overflow:auto;border:1px solid black;">
        <table class="table table-bordered">
            <tr>
                <th>Column Name</th><th>Column Type</th><th>Not Null</th><th>Comment</th>
            {% for column in collist %}
            <tr>
                <td>{{ column.column_name }}</td>
                <td>{{ column.column_type }}</td>
                <td>{{ column.is_notnull  }}</td>
                <td>{{ column.comment     }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}